<div style="display: flex; justify-content: center;" class="container">
  <mat-card style="width: 800px;" class="card">
    <mat-card-content>
      <mat-tab-group>

        <mat-tab label="Pessoa Física">
          <button mat-raised-button color="primary" (click)="openDialog('fisica')">Adicionar Pessoa Física</button>
          <table mat-table [dataSource]="dataSourcePessoaFisica" *ngIf="userRole === 'administrador'">

            <ng-container matColumnDef="nome">
              <th mat-header-cell *matHeaderCellDef>Nome</th>
              <td mat-cell *matCellDef="let element">{{element.nome}}</td>
            </ng-container>

            <ng-container matColumnDef="documento">
              <th mat-header-cell *matHeaderCellDef>Documento</th>
              <td mat-cell *matCellDef="let element">{{element.cpf}}</td>
            </ng-container>

            <ng-container matColumnDef="mostrarDetalhes">
              <th mat-header-cell *matHeaderCellDef>Mostrar Detalhes</th>
              <td mat-cell *matCellDef="let element">
                <button mat-button (click)="showDetails(element)">Mostrar Detalhes</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsPessoaFisica"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsPessoaFisica;"></tr>
          </table>
        </mat-tab>

        <mat-tab label="Pessoa Jurídica">
          <button mat-raised-button color="primary" (click)="openDialog('juridica')">Adicionar Pessoa Jurídica</button>
          <table mat-table [dataSource]="dataSourcePessoaJuridica" *ngIf="userRole === 'administrador'">

            <ng-container matColumnDef="razaoSocial">
              <th mat-header-cell *matHeaderCellDef>Razão Social</th>
              <td mat-cell *matCellDef="let element">{{element.razaoSocial}}</td>
            </ng-container>

            <ng-container matColumnDef="dataCriacao">
              <th mat-header-cell *matHeaderCellDef>Data de Criação</th>
              <td mat-cell *matCellDef="let element">{{element.dataCriacao}}</td>
            </ng-container>

            <ng-container matColumnDef="documento">
              <th mat-header-cell *matHeaderCellDef>Documento</th>
              <td mat-cell *matCellDef="let element">{{element.cnpj}}</td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumnsPessoaJuridica"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsPessoaJuridica;"></tr>
          </table>
        </mat-tab>

      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
